<h1 class="title">To Do List</h1>

<div class="container flex">
  <div class="row flex">
    <div class="col">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="add task" aria-label="add task" aria-describedby="button-addon2" [(ngModel)]="newTodo">
        <button class="btn" type="button" id="button-addon2" (click)="saveTodo()">Add</button>
      </div>
      <table class="table">
        <tbody>
          <tr class="flex" *ngFor="let todo of todos; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td class="{{(!todo.isCompleted)? 'done': ''}}" (click)="done(i)">{{ todo.name }}</td>
            <td class="delete" (click)="removeTodo()">X</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>