/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap';
*{
    font-family: 'Rubik';
    color: rgb(22, 22, 121);
}

h1{
    text-align: center;
}